<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <title>EpiHack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="static/bootstrap.min.css">
<!-- <link href={{ url_for('static', filename='bootstrap.min.js')}} rel="stylesheet" media="screen"> -->
    <style>

        .container {
            max-width: 1000px;
            padding-top: 40px;
        }
        input {
            max-width: 400px;
        }
        .avatar {
            max-width: 150px;
        }
        .onerow{
            display:inline-block;
        }
        
    </style>
  </head>
  <body background="{{ url_for('static', filename='3.jpg')}}">
    <h1>Hello world</h1>
    <script src={{ url_for('static', filename='jquery-1.11.0.min.js') }}></script>
    <script src={{ url_for('static', filename='bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='main.js') }}></script>
  </body>
</html>